@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

menu{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    
}

div{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
}

header>div:nth-child(n+2){
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

